

.text-zone {
    width: 35%;
}

.about-title {
    color: #231F20;
    font-size: 56px;
    line-height: 53px;
    font-family: 'Coolvetica';
    font-weight: 400;
    margin-left: -20px;

    &::before {
        content: '<h1>';
        font-family: monospace;
        color: #BB4430;
        font-size: 18px;
        position: absolute;
        left: -40px;
        top: -40px;
        opacity: 0.6;
        // animation: fadeIn 1s 1s backwards;
    }

    &::after {
        content: '</h1>';
        font-family: monospace;
        color: #BB4430;
        font-size: 18px;
        position: absolute;
        left: -40px;
        top: 50px;
        // animation: fadeIn 1s 1s backwards;
        opacity: 0.6;
    }
}

p {
    font-size: 14px;
    color: gray;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

p:first-of-type {
    margin-top: 50px;
}


