.contact-form {
    width: 100%;
    margin-top: 40px;
  
    ul {
      padding: 0;
      margin: 0;
  
      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        opacity: 0;
        overflow: hidden;
        display: block;
        clear: both;
        position: relative;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
      }
  
      li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }
  
    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 0;
      background: #F7F1DE;
      height: 50px;
      font-size: 16px;
      color: #031926;
      padding: 0 20px;
      box-sizing: border-box;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  
    textarea {
      width: 100%;
      border: 0;
      background: #F7F1DE;
      height: 50px;
      font-size: 16px;
      color: #031926;
      padding: 20px;
      box-sizing: border-box;
      min-height: 150px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
  
    .flat-button {
      color: #F7F1DE;
        background: #91B6B3;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 3px;
        font-family: Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
        padding: 10px 20px;
        border: 2px solid #91B6B3;
        border-radius: 5px;
        margin-top: 20px;
        float: right;
        animation: fadeIn 1s 2.5s backwards;
        cursor: pointer;

        &:hover {
            background: none;
            color: #91B6B3;
            transform: scale(1.02);
            transition: all .3s ease-in-out;
        }
      }
    }
  

  